<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sn.vhr.mapper.PoliticsstatusMapper">

    <resultMap id="BaseResultMap" type="com.sn.vhr.model.Politicsstatus">
            <result column="id" property="id" jdbcType="INTEGER" />
            <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getAllPoliticsstatuss" resultMap="BaseResultMap">
        select * from politicsstatus;
    </select>
</mapper>